.footer-container {
  position: absolute;
  width: 100vw;
  height: 50px;
  left: 0;
  bottom: 0;
  color: rgb(198, 203, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  & .design-farzin {
    color: rgb(198, 203, 207);
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
  }
}
